table{
      	border-collapse:collapse;
      	border: 1px solid black;
		alignment-adjust:central;
		font-family:Arial;
		font-size:14px;
		text-align:center;
      }
      
      table tr{
      	border: 2px solid black;
      }
	  
      table td{
      	border: inherit;
      	height: 15px;
      	width: 50px;
      	text-align: center;      	
      }
	  
	  p{
      	font-style:normal;
        font-family:"Arial";
      }
	  
	  #contenidointerno{
      	float:left;
      	width: 94%;
      	height: 49.2%;
	  }